@tailwind base;
@tailwind components;
@tailwind utilities;




/* src/components/PinterestGallery.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(26, 26, 26);
}

.App {
  padding: 20px;
}











.grid-item img {
  display: block;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.grid-item img:hover {
  transform: scale(1.05);
}


.grid-item video {
  display: block;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.grid-item video:hover {
  transform: scale(1.05);
}
